.Search-form{
    float: right;
    width: 200px;
}


.Chat{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  border-radius: 20px;
    color: black;
  padding: 15px;
    justify-content: space-between;
    cursor: pointer;
}

.Chat:hover{
    border: 1px solid black;
    background-color: gainsboro;
}

.Invite{
  display: flex;
  width: 400px;
  align-items: center;
  border-radius: 20px;
    color: black;
  padding: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.Invitation{
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}

.Invitation-Header{
  font-size: 30px;
  font-weight: 700;
  color: #04454d;
  margin: 10px 0;
}

.Invite:hover{
    border: 1px solid black;
    background-color: gainsboro;
}

.Left{
    display: inline-block;
}

.Right{
    float: right;
    display: inline-block;
}

.Image{
    margin: 15px 0 0 0;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.Name{
    color: black;
    margin: 0 10px 15px 0;
}

button{
    display: inline-block;
    padding: 5px;
}

.Update{
    padding: 5px 10px;
    margin: 0 30px 5px 100px;
    border: none;
  background-color: #04454d;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  align-self: flex-end;
  cursor: pointer;
}

.Delete{
    padding: 5px 10px;
    margin: 5px 30px 5px 5px;
    border: none;
  background-color: red;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  align-self: flex-end;
  cursor: pointer;
}

.Delete a {
  color: white;
  text-decoration: none;
}

.Update a {
  color: white;
  text-decoration: none;
}

.Accept{
    border: none;
  background-color: #04454d;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  align-self: flex-end;
  cursor: pointer;
}

.Decline{
    border: none;
  background-color: red;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  align-self: flex-end;
  cursor: pointer;
}

.Decline a {
  color: white;
  text-decoration: none;
}

.Accept a {
  color: white;
  text-decoration: none;
}